*pyc
*.db
*.pyo

*.mo
*.egg-info
*.egg
*.EGG
*.EGG-INFO

.hg
.bzr
.svn

*.tmp*

*.bak

*.swp
local_settings.py
.DS_Store
.project
.pydevproject
.idea/
venv/

*.project
*.pydevproject
org.eclipse.core.resources.prefs
.metadata
!docs/_static
