Flask
Flask-PyMongo
Flask-Testing
mimerender
simplejson
bpython
schematics
rawes
pyes
#pexpect
sphinx
sphinx-apidoc

-e git+git://github.com/mongodb/mongo-python-driver.git#egg=pymongo
fabric
python-dateutil
