Flask
Flask-PyMongo
Flask-Testing
mimerender
simplejson
bpython
rawes
pyes
#pexpect
sphinx
#sphinx-apidoc
jinja2
pyyaml
-e git+git://github.com/j2labs/schematics.git#egg=schematics
-e git+git://github.com/mongodb/mongo-python-driver.git#egg=pymongo
fabric
python-dateutil
